.todoapp {
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

header {
    display: block;
}

.todoapp h1 {
    position: absolute;
    top: -135px;
    width: 100%;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    margin-left: 8%;
    float: left;
    width: 40%;
    padding: 30px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#form {
    margin-bottom: 3%;
}

.input-properties, select {
    width: 70%;
}

#selectstyle {
    height: 89%;
}

#selectunit, .input-properties, #selectstyle {
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.shoppinglistelement {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-div{
    text-align: center;
}

.button-first{
    border-radius: 20px;
    border-color: #FBF0DF;
    background-color: #FBF0DF;
    width: 40%;
    font-size: 18px;
    margin-bottom: 5%;
}

.labelinformation{
    font-weight: 500;
    font-size: 15pt;
}

#labelowe {
    margin-left: 15px;
}

#priority {
    accent-color: #e74c3c;
}