<section class="todoapp">
  <header class="header">
    <h1>Your list</h1>
  </header>
</section>

<div class="button-div">
  <button class="button-first" [routerLink]="['/add-item-to-list']"><b>Add shopping item to your list</b></button>
</div>

<div class="task-list-border" *ngFor="let list of lists; let i = index" (listDeleted)="getAll()">
  <div class="item-container">
    <p>{{ list.titleOfList }}</p>
    <button class="button-type b1" [routerLink]="['/details-of-one-list']">
      <img src="/assets/images/editicon.png" alt="editicon" />
    </button>
    <button class="button-type b1" (click)="deleteList(list.listId)">
      <img src="/assets/images/deleteicon.png" alt="deleteicon" />
    </button>
    <button class="button-type b1" (click)="hideList(i)">
      <img src="/assets/images/downarrow.png" alt="downarrow" />
    </button>
  </div>
  <div id="ul-products"  *ngIf="showList[i]">
    <p>Shopping list for the day: <br> {{ list.date | date }}</p>
    <ul *ngIf="productItem.length!==0">
      <li *ngFor="let item of productItem[i]">
        {{ item?.nameOfProduct }} - {{ item?.amount }} {{ item?.unit }}
      </li>
    </ul>
  </div>
</div>

