.todoapp {
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

header {
    display: block;
}

.todoapp h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.shoppinglistelement {

    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button-div{
    text-align: center;
}

.button-first{
    border-radius: 20px;
    border-color: #FBF0DF;
    background-color: #FBF0DF;
    width: 40%;
    font-size: 18px;
    margin-bottom: 5%;
}

.task-list-border{
    width: 90%;
    background-color: #FBF0DF;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    align-items: center;
}
p{
    width: 85%;
}

.task-list-border img,
.task-list-border p,
.task-list-border button {
  margin-right: 10px;
}
img{
    width: 40px;
    height: 40px;
}

.b1{
    border: none;
    background: none;
}

.task-list-border {
    display: flex;
    flex-direction: column;
  }
  
  .item-container {
    display: flex;
    align-items: center;
  }
  
  #ul-products {
    margin-top: 10px;
    width: 20%;
  }
 
#header {
    font-size: 14pt;
}
  
  