/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("../src/app/components/home/rozmytykoszyk.jpg");
    background-repeat: inherit;
    background-size: cover;
}