<section class="todoapp">
    <header class="header">
        <h1>Details of list</h1>
    </header>
</section>    
      <form method="post" id="form">
        <div *ngFor="let list of lists">
          <div class="name-container">
            <h4>{{ list.titleOfList }}</h4>
            <button class="btn btn-primary" (click)="navigateToListEdit(list.id)">Edytuj nazwę listy</button>
          </div>
          <div *ngFor="let product of list.products" class="product-container">
            <div class="detailContainer">
              <div class="details">{{ product.nameOfProduct }}</div>
              <div class="details">{{ product.amount }}</div>
              <div class="details">{{ product.unit }}</div>
            </div>
            <div class="options">
              <button class="btn btn-success" (click)="navigateToProductEdit(product.id)">Edytuj</button>
              <button class="btn btn-warning" (click)="deleteProduct(product)">Usuń z listy</button>
            </div>
          </div>
        </div>
      </form>
      
      
    
    
